.main {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.singlePhrase {
  display: flex;
  align-items: center;
  letter-spacing: 0.2rem;
  font-family: "EdSonar";
  color: #ff0e33;
  /* text-shadow: -1px -1px 0 #ff0e33, 1px -1px 0 #ff0e33, -1px 1px 0 #ff0e33,
    1px 1px 0 #ff0e33; */
  font-size: 50px;
}

.heart {
  display: flex;
  padding: 0 2rem 0 2rem;
}

.sliderContainer {
  display: flex;
  padding: 3rem 0 3rem 0;
  position: relative;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .sliderContainer {
    scale: 0.5;
    padding: 1rem 0 1rem 0;
  }

  .singlePhrase {
    /* text-shadow: -2px -2px 0 #ff0e33, 2px -2px 0 #ff0e33, -2px 2px 0 #ff0e33,
      2px 2px 0 #ff0e33; */
  }
}
