.main {
  width: 100vw;
  height: 140vh;
  background-color: transparent;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.singlePhrase {
  display: flex;
  align-items: center;
  font-family: "EdSonar";
  color: #4a141b;
  font-size: 5vh;
  letter-spacing: 0.1rem;
  font-weight: 50;
}

.phraseText {
  transition: color 0.3s ease;
  /* padding: 0 2rem 0 0rem; */
}

.heart {
  display: flex;
  padding: 0 2rem 0 2rem;
}

.sliderContainer {
  display: flex;
  padding: 3rem 0 3rem 0;
  position: relative;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .sliderContainer {
    scale: 0.5;
    padding: 1rem 0 1rem 0;
  }

  .singlePhrase {
    /* text-shadow: -2px -2px 0 #ff0e33, 2px -2px 0 #ff0e33, -2px 2px 0 #ff0e33,
      2px 2px 0 #ff0e33; */
  }
}
