.main {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  position: relative;
}
.content {
  position: fixed;
  height: 800px;
  width: 100%;
  padding-right: 40px;
  bottom: 0;
  background-color: #3e1117;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
}

@media (max-width: 768px) {
  .content {
    height: 700px;
    padding-right: 0;
  }
}
