.main {
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(8, 12.5vw);
  grid-template-rows: repeat(8, 12.5vh);
  margin-bottom: 10vh;
}

.envelopeContainer {
  grid-column: 2 / 8;
  grid-row: 4 / 6;
  justify-self: center;
  align-self: center;

  margin-right: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cassyoung {
  width: 55vw;
  justify-self: end;
  align-self: end;
}
.bottomTextDiv {
  grid-column: 1;
  grid-row: 8;
  align-items: end;
  justify-content: end;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 2vw 0 1vw;
  font-family: "CExtraLight";
}

.cherubBoy {
  position: relative;
  width: 12.5vw;
  height: 18vh;
  /* Place in bottom-right area (column 5, row 5) */
  grid-column: 7; /* Place in 7th column */
  grid-row: 7;

  justify-self: end; /* Align to right edge of 7th column */
  align-self: center;

  transform: translateX(50%); /* Shift right by half its width */

  /* Add floating animation */
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateX(50%) translateY(0);
  }
  50% {
    transform: translateX(50%) translateY(-8px);
  }
}
