.main {
  width: 100%;
  height: 150vh;
  background-color: transparent;
  position: relative;
}

.whiteDiv {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.contentContainer {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.helloDiv {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hello {
  font-size: 20px;
}

.contentContainer2 {
  background-color: red;
  width: 90%;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}
