html,
body {
  max-width: 100%;
  /* overflow-x: hidden; */
  background-color: rgb(255, 240, 247);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "CMedium";
  src: url("/fonts/ClashDisplay-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CLight";
  src: url("/fonts/ClashDisplay-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CBold";
  src: url("/fonts/ClashDisplay-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CExtraLight";
  src: url("/fonts/ClashDisplay-Extralight.otf") format("opentype");
}

@font-face {
  font-family: "NRegular";
  src: url("/fonts/NeueMetana-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EdSonar";
  src: url("/fonts/ED-Sonar-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPRegular";
  src: url("/fonts/PP-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PPLight";
  src: url("/fonts/PP-Ultralight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AScript";
  src: url("/fonts/AstonScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 9px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(255, 240, 247);
}

::-webkit-scrollbar-thumb {
  background-color: #3e1117;
  border: 1px solid transparent; /* Creates 1px gap on all sides */
  background-clip: content-box;
  border-radius: 6px;
}
